body {
	margin: 0;
	background-image: url("../images/background.jpg");
	background-position: top center;
    background-repeat: no-repeat;
	background-attachment: fixed;
	min-width: 1500px;
}

.clearfix {
	clear: both;
}

#overlay {
	width: 100%;
	height: 100vh;
	background-image: url("../images/background2.jpg");
	background-position: top center;
    background-repeat: no-repeat;
	background-attachment: fixed;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;
	display: none;
}

#overlay .overlay_content {
	width: calc(40% - 60px);
	height: 100vh;
	overflow: hidden;
	padding: 30px;
	margin: 0 auto !important;
	text-align: center;
	font-family: 'Oswald';
	overflow-y: auto;
}

#overlay .overlay_content::-webkit-scrollbar {
    width: 5px;
}

#overlay .overlay_content::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.2); 
}

#overlay .overlay_content::-webkit-scrollbar-thumb {
    background: #fff;  
}

#overlay .overlay_content h1 {
    margin: 0;
	text-transform: uppercase;
    letter-spacing: 0.025em;
    line-height: 57px;
    color: #70248D;
    text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
	margin-bottom: 10px;
}

#overlay .overlay_content input {
	width: calc(100% - 20px);
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.95);
	border-bottom: 3px solid rgba(0, 0, 0, 0.95);
	font-family: 'Oswald';
}

#overlay .overlay_content input:focus {
	outline: none;
}

#overlay .overlay_content input[type="file"] {
	background-color: #FFF;
}

#overlay .overlay_content input[type="submit"] {
	width: 100%;
	background: linear-gradient(to bottom, #9736A8, #70248D);
	color: #FFF;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 50px;
}

#overlay .overlay_content input[type="submit"]:hover {
	background: linear-gradient(to bottom, #b34cc5, #70248D);
	cursor: pointer;
}

#overlay .close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 40px;
	color: #FFF;
	opacity: 0.7;
}

#overlay .close:hover {
	cursor: pointer;
	opacity: 1;
}

#alertMsg {
	width: calc(100% - 20px);
	border-bottom: 2px solid #fff;
	position: fixed;
	top: 0;
	z-index: 20;
	color: #FFF;
	text-align: center;
	padding: 10px;
	font-family: 'Oswald';
	text-transform: uppercase;
	font-size: 16px;
	display: none;
}

#alertMsg .close {
	position: absolute;
	right: 20px;
	font-size: 20px;
	top: 5px;
	opacity: 0.7;
}

#alertMsg .close:hover {
	opacity: 1;
	cursor: pointer;
}

#alertMsg.error {
	background: linear-gradient(to bottom, #a7130f, #490907);
}

#alertMsg.success {
	background: linear-gradient(to bottom, #427130, #2d4d21);
}
header {
	width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 2px solid #fff;
	position: fixed;
	z-index: 10;
	height: 60px;
	top: 0;
}

header .logo {
	padding: 10px;
	padding-bottom: 5px;
	margin-left: 5%;
	float: left;
}

header .logo:hover {
	cursor: pointer;
}

header .logo img {
	height: 40px;
}

header .menu {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #FFF;
	font-family: 'Oswald';
}

header .user {
	float: right;
	padding: 8px;
	margin-right: 5%;
	font-family: 'Oswald';
}

header .user .username {
	float: right;
	color: #FFF;
	font-size: 20px;
	text-transform: uppercase;
	opacity: 0.8;
	margin-top: 8px;
}

header .user .username:hover {
	opacity: 1;
	cursor: pointer;
}

header .user .username i {
	float: right;
	margin-left: 5px;
	margin-top: 5px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg); 
    -o-transform:rotate(180deg);
}

header .user .submenu {
	position: absolute;
	background-color: #FFF;
	width: 160px;
	top: 62px;
	right: 80px;
	margin: 0;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	border-radius: 0 0 4px 4px !important;
	padding: 0;
	display: none;
	overflow: hidden;
}

header .user .submenu li {
	display: block !important;
	padding: 0;
}

header .user .submenu li a {
	width: 140px;
	display: block !important;
	margin: 0;
	padding: 10px;
	border-radius: 0 !important;
	text-align: center;
	color: #181E1E;
	white-space: nowrap;
}

header .user .submenu li a:hover {
	background-color: rgba(0, 0, 0, 0.2) !important;;
}

header .user .submenu li a:last-child { 
	border-radius: 0 0 4px 4px !important;
}

header .user .username i.rotated {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg); 
    -o-transform:rotate(360deg);
}

header .user .avatar {
	border: 2px solid #FFF;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	overflow: hidden;
	float: right;
	margin-left: 10px;
}

header .user img {
	width: 40px;
	height: 40px;
}

header li a {
	display: block;
	float: left;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 5px 5px 0 0;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}

header li a.active {
	background-color: #FFF !important;
	color: #181E1E;
}

header li a:hover {
	background-color: rgba(255, 255, 255, 0.95);
	color: #181E1E;
}

header .menuToggle {
	color: #FFF;
	float: right;
	font-size: 30px;
	margin-left: 10px;
	opacity: 0.7;
}

header .menuToggle:hover {
	opacity: 1;
	cursor: pointer;
}

#map_container {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	overflow: hidden;
}

#map_container .items_toggles {
	right: 0;
	bottom: 0;
	width: 150px;
	height: calc(100vh - 102px);
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	padding: 20px;
	z-index: 12;
	color: #FFF;
	font-family: 'Oswald';
	display: none;
	overflow-y: auto;
}

#map_container .items_toggles::-webkit-scrollbar {
    width: 5px;
}

#map_container .items_toggles::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.2); 
}

#map_container .items_toggles::-webkit-scrollbar-thumb {
    background: #FFF;  
}

#map_container .items_toggles select {
	width: 100%;
	padding: 5px;
	font-size: 12px;
}

#map_container .items_toggles .desc {
	color: #dbdbdb;
	font-size: 14px;
	margin-bottom: 10px;
}

#map_container .items_toggles span {
	color: #FFF;
}

#map .like_count {
	font-size: 20px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.7);
}

#map .like_count.like {
	color: #427130;
}

#map .like_count.unlike {
	color: #a7130f;
}

#map .like_count .like_button, #map .like_count .unlike_button {
	font-size: 20px;
}

#map .like_count .like_button:hover {
	cursor: pointer;
	opacity: 1;
	color: #427130;
}

#map .like_count .unlike_button:hover {
	cursor: pointer;
	color: #a7130f;
}

#map {
	width: 100% !important;
	height: calc(100vh - 60px) !important;
	position: absolute;
	top: 60px;
	left: 0;
	z-index: 1;
	overflow: hidden;
}

#map hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

#map .my-leaflet-map-container img {
    max-height: none;
}

#global {
	width: 900px;
	margin: 0 auto !important;
	overflow:auto;
	position: absolute;
	top: 60px;
	left: calc(50% - 470px);
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.75), 0 10px 0 10px rgba(255, 255, 255, 0.25), 0 25px 0 25px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.75), 0 10px 0 10px rgba(255, 255, 255, 0.25), 0 25px 0 25px rgba(255, 255, 255, 0.25);
    bottom: 0;
    overflow: auto;
	display: none;
}

#global::-webkit-scrollbar {
    width: 5px;
}

#global::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.2); 
}

#global::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);  
}

#global h1 {
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0;
	margin-bottom: 15px;
	color: #FFF;
	padding: 20px;
	font-family: 'Oswald';
}

#global .list_items {
	width: auto;
}

#global .list_items .row {
	width: 135px;
	height: 169px;
	background-image: url("../images/background.jpg");
	padding: 10px;
	border-radius: 50% 50% 0 0;
	margin-bottom: 50px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.6);
	font-family: 'Oswald';
}

#global .list_items .row .image {
	height: 135px;
	width: 135px;
	overflow: hidden;
}

#global .list_items .row .image img {
	width: 135px;
}

#global .list_items .row .name {
	color: #181E1E;
	text-transform: uppercase;
	background-color: #FFF;
	padding: 10px;
	width: 135px;
	margin-left: -10px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

#global .list_items .row .name span { 
	color: rgba(0, 0, 0, 0.7);
}

#global .list_items .row:hover {
	cursor: pointer;
}

#global .list_items .row:hover .stats {
	display: block;
	
}

#global .list_items .row .stats {
	background-color: rgba(0, 0, 0, 0.95);
	color: #FFF;
	position: absolute;
	width: 135px;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
	margin-left: -10px;
	display: none;
}

#global .list_items .row .stats:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: rgba(0, 0, 0, 0.95);
	border-width: 10px;
	margin-left: -10px;
}

#global .list_items .row .stats .infos {
	color: #B2B2B2;
}

#global .list_items .row .stats .infos span {
	color: #FFF;
}